p.book_p {
  margin: 2px;
  line-height: 1;
}

h1.book_h1 {
  margin: 1px;
  line-height: 1;
}

h2.book_h2 {
  color: #00426D;
  font-size: 20px;
  margin: 1px;
}

.book_div1 {
  display: inline-block;
  text-align: left;
}

.book_div2 {
  text-align: right;
}

.tablehead {
  background-color: #006F5F;
}

.cell {
  border-bottom: 1px solid #003354;
}
