html {
  position: relative;
  left: 5px;
  background-color: #B69B63;
  color: #003354;
}

body {
  color: #003354;
  font-family: "Hiragino Kaku Gothic ProN", cursive, 'Hiragino Mincho Pro', serif;
}
